.ressource-list{
  /*max-width: var(--grid-flex-max-witdh);*/
  margin: 0 auto;
  padding: 2px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ressource-list > *{
  flex-basis: 320px;
  /*background: #702411;*/
  flex-grow: 1;
  flex-shrink: 0;
  /*border: 1px solid black;*/
}
.ressource-list-item figure{
  text-align: center;
}

.ressource-list-item img{
  width: 12em;
  border-radius: 50%;
}

.ressource-list-item figcaption{
  text-align: center;
}

.ressource-list-item p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.ressource-list-item a {
  margin-left: 0.5em;
}
