* {
  box-sizing: border-box;}
body {
  background: red;
}

/*smartphones mobiles (portrait)*/
@media (max-width: 480px) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background: #2E86AB;
  }
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: #A23B72;
  }
}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background: #F18F01;
    color : #fff;
  }
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {
  body {
    background: #C73E1D;
    color : #fff;
  }
  .example-five {
    display: block;
  }
}

/*-----------------------------------------------------------------------*/

h1{
  font-size: 40 px;
  font-weight: bold;
}

h2{
  font-size: 30 px;
  font-weight: bold;
  column-span: all;
}

h3{
  font-size: 25 px;
  font-weight: bold;
  font-style: italic;
  column-span: all;
}


.colonne{
columns: 4 225px;
/*margin: 5px;*/
}

header{
    height: 60px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    list-style: none;
}
#lien{
    text-decoration: none;
    color: #370D0C;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 21px;

}
#lien a:hover{
    text-decoration: none;
    color: #370D0C;
}
