* {
  box-sizing: border-box;
  /*padding : 0px;*/
}
/*-----------------------FONT-------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,300');

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: bold;
}

h2 {font-size: 2.441rem;
  font-weight: bold;
  column-span: all;
}

h3 {font-size: 1.953rem;
  font-weight: bold;
  font-style: italic;
  column-span: all;
}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

footer {
  background: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #ffffff;
}
/*----------------------------------------------------------------------------*/
body {
  background: red;
}

a{
  color : #fff;
}

.image{
  column-span: all;
  text-align: center;
}
/*-----------------------MEDIA QUERIES----------------------------------------*/
/*smartphones mobiles (portrait)*/
@media (max-width: 480px) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background: #2E86AB;
  }
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: #A23B72;
    color : #fff;
  }
}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background: #F18F01;
    color : #fff;
  }
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {
  body {
    background: #C73E1D;
    color : #fff;
  }
  .example-five {
    display: block;
  }
}

/*----------------------------------------------------------------------------*/


header{
    height: 60px;
    background-color: #fff;
    list-style: none;
    /*position: absolute;*/

}
.lien{
    text-decoration: none;
    color: #ffffff;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 21px;

}
.lien a:hover{
    text-decoration: none;
    background-color: #C5CDD6;
}

footer{
  background-color: #000;
  bottom: 0;
}


/*----------------Image profil-------------------------------*/
.image-profil {
  height: 50vh;
  position: relative;
  overflow: hidden;
  @media (min-width: 600px) {
    height: 100vh;
  }
}

.profil {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/*--------------------------------------------------------*/
.picture{
  text-align: center;
  height: 50vh;
  @media (min-width: 600px) {
    height: 100vh;
  }
}
